<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="cake.js"></script>
<script type="text/javascript" src="magic2d.js"></script>
<script language="javascript">
window.onload = function() {    
};
</script>
</head>
<body>
    <%- body %>
</body>
</html>